.elements__like {
    background-image: url(../../../images/Heart.svg);
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 3px;
    cursor: pointer;
    background-size: 22px 19px;
    min-width: 22px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
    display: block;
}

.elements__like:hover {
    opacity: 0.5;
    transition: 0.2s;
}