.header__logo {
    max-width: 142px;
    max-height: 33px;
    padding-top: 45px;
    padding-bottom: 34px;
}

@media screen and (max-width: 770px) {
    .header__logo {
        max-width: 103px;
        max-height: 24px;
    }
}

@media screen and (max-width: 770px) {
    .header__logo{
      padding-top: 28px;
      padding-left: 30px;
    }
  }