.elements__delete-button {
  background-image: url(../../../images/Bin.svg);
  background-size: contain;
  padding: 0;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 0;
  transition: 0.2s;
  cursor: pointer;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  display: none;
}

.elements__delete-button:hover {
  opacity: 0.6;
  transition: 0.2s;
}