.header__link {
    color: white;
    margin-top: 51px;
    margin-bottom: 46px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
  }

.header__link:hover {
  transition: 0.2s;
  opacity: 0.6;
}

@media screen and (max-width: 770px) {
  .header__link {
    display: none;
  }
}