.login__route-link {
  color: white;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.login__route-link:hover {
  opacity: 0.6;
  transition: 0.2s;
}

@media screen and (max-width: 770px) {
  .login__route-link {
    font-size: 14px;
    line-height: 17px;
  }
}