.login__input {
  box-sizing: border-box;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: white;
  margin-top: 30px;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 1px;
  max-width: 358px;
  padding-bottom: 13px;
  color: white;
}

.login__input:-webkit-autofill,
.login__input:-webkit-autofill:hover,
.login__input:-webkit-autofill:focus,
.login__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset;
}
.login__input:-webkit-autofill {
  -webkit-text-fill-color: white;
}

@media screen and (max-width: 770px) {
  .login__input {
    max-width: 260px;
    line-height: 14px;
    padding-left: auto;
    padding-right: auto;
  }
}
