.header__mobile {
  display: none;
  height: 142px;
  border-bottom-style: solid;
  border-bottom-color: rgba(84, 84, 84, 0.7);
  border-bottom-width: 1px;
  animation-name: slidein;
  animation-direction: alternate;
  animation-duration: 0.2s;
}

@keyframes slidein {
  from {
    height: 0;
  }
  to {
    height: 142px;
  }
}
