.profile__plus-button {
    background-image: url(../../../images/Plus.svg);
    background-size: 22px 22px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: content-box;
    border: solid white 2px;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 75px;
    padding-right: 75px;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    border-radius: 2px;
    transition: 0.2s;
}

.profile__plus-button:hover {
    opacity: 0.6;
    transition: 0.2s;
}

@media screen and (max-width: 770px) {
    .profile__plus-button {
        margin-left: auto;
        margin-right: auto;
        padding-right: 139px;
        padding-left: 139px;
        margin-top: 10px;
        max-width: 16px;
        max-height: 16px;
        background-size: 16px 16px;
    }
}