.elements__list {
    display: grid;
    column-gap: 17px;
    row-gap: 20px;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    justify-content: center;
    list-style-type: none;
    padding-bottom: 72px;
    max-width: 882px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

@media screen and (max-width: 900px) {
    .elements__list {
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        max-width: auto;
    }
}

@media screen and (max-width: 770px) {
    .elements__list {
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 361px);
        padding-bottom: 48px;
    }
}