.popup__cross-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
    display: block;
    outline: none;
    border: none;
    padding: 0;
    background-image: url(../../../images/Cross.svg);
    background-color: transparent;
    background-size: 32px 32px;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.2s;
}

.popup__cross-button:hover {
    opacity: 0.6;
    transition: 0.2s;
}

@media screen and (max-width: 770px) {
    .popup__cross-button {
        max-width: 20px;
        max-height: 20px;
        right: 0;
        top: -34px;
        background-size: 20px 20px;
    }
}