.input-error {
  font-size: 12px;
  line-height: 15px;
  color: #f00;
  display: block;
  max-width: 358px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 0;
  max-height: 0;
}