.profile__edit-button {
    width: 22px;
    height: 22px;
    grid-area: edit-button;
    cursor: pointer;
    background-color: transparent;
    box-sizing: content-box;
    border: solid white 1px;
    padding: 0;
    margin-top: 13px;
    margin-bottom: auto;
    margin-right: 0;
    background-image: url("../../../images/Edit.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    transition: 0.2s;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: 0.2s;
}

@media screen and (max-width: 770px) {
    .profile__edit-button {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 4px;
        width: 16px;
        height: 16px;
        background-size: 7.5px 7.5px;
    }
}