.popup__header {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 0;
    margin-left: 36px;
    margin-right: 64px;
    max-width: 330px;
    margin-bottom: 0;
    padding-top: 34px;
    padding-bottom: 17px;
}

@media screen and (max-width: 770px) {
    .popup__header {
        font-size: 18px;
        line-height: 22px;
        max-width: 238px;
        margin-left: 23px;
        margin-right: auto;
        padding-top: 25px;
        padding-bottom: 44px;
    }
}